@keyframes animation-bounce-in-right {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }

  80% {
    transform: translateX(-5vw);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin bounce-in-right {
  animation: animation-bounce-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 10;
}

@keyframes animation-spin-infinity {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin spin-infinity {
  animation-name: animation-spin-infinity;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation-spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation-name: animation-spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation-wave {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@mixin wave {
  animation-name: animation-wave;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: background-image .5s;
  background-size: 800px 104px;
  background: #f6f7f8;
  background: linear-gradient(90deg, #dcdcdc 8%, #ededed 18%, #dcdcdc 33%);
}