@mixin breakpoint($point) {
  @if $point == 'small-only' {
    @media (max-width: 575px) { @content; }
  }
  @if $point == 'small-up' {
    @media (min-width: 576px) { @content; }
  }
  @else if $point == 'medium-only' {
    @media (min-width: 576px) and (max-width: 767px) { @content; }
  }
  @else if $point == 'medium-down' {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == 'medium-up' {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == 'large-only' {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $point == 'large-down' {
    @media (max-width: 991px) { @content; }
  }
  @else if $point == 'large-up' {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == 'extraLarge-only' {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $point == 'extraLarge-down' {
    @media (max-width: 1199px) { @content; }
  }
  @else if $point == 'extraLarge-up' {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == 'superLarge-only' {
    @media (min-width: 1200px) and (max-width: 1399px) { @content; }
  }
  @else if $point == 'superLarge-down' {
    @media (max-width: 1399px) { @content; }
  }
  @else if $point == 'superLarge-up' {
    @media (max-width: 1400px) { @content; }
  }
}