@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* --- FAMÍLIA CORES --- */
/* --- CORES --- */
/* --- TAMANHO DE FONTE --- */
/* --- Icones --- */
@-moz-document url-prefix() {
  .form-checkbox__input {
    visibility: visible !important;
  }
}
@keyframes animation-bounce-in-right {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  80% {
    transform: translateX(-5vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-spin-infinity {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animation-spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animation-wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.gwf-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "growify-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gwf-icon--uber:before {
  content: "\e916";
}

.gwf-icon--facebook-f:before {
  content: "\e90c";
}

.gwf-icon--instagram:before {
  content: "\e90d";
}

.gwf-icon--linkedin-in:before {
  content: "\e90e";
}

.gwf-icon--pinterest:before {
  content: "\e90f";
}

.gwf-icon--tiktok:before {
  content: "\e910";
}

.gwf-icon--x-twitter:before {
  content: "\e911";
}

.gwf-icon--youtube:before {
  content: "\e912";
}

.gwf-icon--boleto:before {
  content: "\e900";
}

.gwf-icon--cc-amex:before {
  content: "\e901";
}

.gwf-icon--cc-diners-club:before {
  content: "\e902";
}

.gwf-icon--cc-mastercard:before {
  content: "\e903";
}

.gwf-icon--cc-visa:before {
  content: "\e904";
}

.gwf-icon--clearsale:before {
  content: "\e905";
}

.gwf-icon--elo:before {
  content: "\e906";
}

.gwf-icon--google-safe-browsing:before {
  content: "\e907";
}

.gwf-icon--mercadopago:before {
  content: "\e908";
}

.gwf-icon--pagseguro:before {
  content: "\e909";
}

.gwf-icon--pix:before {
  content: "\e90a";
}

.gwf-icon--tray:before {
  content: "\e90b";
}

.gwf-icon--percent:before {
  content: "\e913";
}

.gwf-icon--headset_mic:before {
  content: "\e914";
}

.gwf-icon--shop:before {
  content: "\e917";
}

.gwf-icon--truck:before {
  content: "\e915";
}

.gwf-icon--transport:before {
  content: "\e915";
}

.gwf-icon--transaction:before {
  content: "\e915";
}

.gwf-icon--shipping:before {
  content: "\e915";
}

.gwf-icon--plus:before {
  content: "\f067";
}

.gwf-icon--minus:before {
  content: "\f068";
}

.gwf-icon--search:before {
  content: "\f002";
}

.gwf-icon--heart:before {
  content: "\f004";
}

.gwf-icon--close:before {
  content: "\f00d";
}

.gwf-icon--remove:before {
  content: "\f00d";
}

.gwf-icon--times:before {
  content: "\f00d";
}

.gwf-icon--file-o:before {
  content: "\f016";
}

.gwf-icon--headphones:before {
  content: "\f025";
}

.gwf-icon--video-camera:before {
  content: "\f03d";
}

.gwf-icon--map-marker:before {
  content: "\f041";
}

.gwf-icon--arrow-left:before {
  content: "\f060";
}

.gwf-icon--arrow-right:before {
  content: "\f061";
}

.gwf-icon--arrow-up:before {
  content: "\f062";
}

.gwf-icon--arrow-down:before {
  content: "\f063";
}

.gwf-icon--chevron-down:before {
  content: "\f078";
}

.gwf-icon--shopping-cart:before {
  content: "\f07a";
}

.gwf-icon--sign-out:before {
  content: "\f08b";
}

.gwf-icon--sign-in:before {
  content: "\f090";
}

.gwf-icon--phone:before {
  content: "\f095";
}

.gwf-icon--square-o:before {
  content: "\f096";
}

.gwf-icon--filter:before {
  content: "\f0b0";
}

.gwf-icon--mobile:before {
  content: "\f10b";
}

.gwf-icon--mobile-phone:before {
  content: "\f10b";
}

.gwf-icon--shield:before {
  content: "\f132";
}

.gwf-icon--check-square:before {
  content: "\f14a";
}

.gwf-icon--sort-amount-asc:before {
  content: "\f160";
}

.gwf-icon--archive:before {
  content: "\f187";
}

.gwf-icon--google:before {
  content: "\f1a0";
}

.gwf-icon--sliders:before {
  content: "\f1de";
}

.gwf-icon--trash:before {
  content: "\f1f8";
}

.gwf-icon--whatsapp:before {
  content: "\f232";
}

.gwf-icon--volume-control-phone:before {
  content: "\f2a0";
}

.gwf-icon--envelope-open:before {
  content: "\f2b6";
}

.gwf-icon--envelope-open-o:before {
  content: "\f2b7";
}

.gwf-icon--google-drive:before {
  content: "\ea8f";
}

.gwf-icon--spotify:before {
  content: "\ea94";
}

.gwf-icon--telegram:before {
  content: "\ea95";
}

.gwf-icon--vine:before {
  content: "\ea97";
}

@font-face {
  font-family: "growify-icons";
  src: url("../fonts/growify-icons/growify-icons.eot?afvykr");
  src: url("../fonts/growify-icons/growify-icons.eot?afvykr#iefix") format("embedded-opentype"), url("../fonts/growify-icons/growify-icons.ttf?afvykr") format("truetype"), url("../fonts/growify-icons/growify-icons.woff?afvykr") format("woff"), url("../fonts/growify-icons/growify-icons.svg?afvykr#growify-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fake-loader {
  position: relative;
  overflow: hidden;
}

.fake-loader--loading {
  pointer-events: none;
  border-color: transparent !important;
  background-color: transparent !important;
}
.fake-loader--loading > * {
  visibility: hidden;
}
.fake-loader--loading:before {
  width: 0 !important;
  height: 0 !important;
}
.fake-loader--loading:after {
  animation-name: animation-wave;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: background-image 0.5s;
  background-size: 800px 104px;
  background: #f6f7f8;
  background: linear-gradient(90deg, #dcdcdc 8%, #ededed 18%, #dcdcdc 33%);
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

* {
  padding: 0px;
  margin: 0px;
}

.gwf-page-aqq__wrapper {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #DEDEDE;
}
.gwf-page-aqq__holder {
  width: 90%;
  max-width: 1200px;
}
.gwf-page-aqq__grid {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 25px 20px;
}
.gwf-page-aqq__titulo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  color: #3498db;
}
.gwf-page-aqq__cabecalho--fundo {
  background-color: #e67e22;
  color: #ffffff;
  padding: 5px;
}
.gwf-page-aqq__cabecalho--conteudo {
  padding-top: 60px;
  padding-bottom: 60px;
}
.gwf-page-aqq__cabecalho--titulo {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
}
.gwf-page-aqq__cabecalho--subtitulo {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.gwf-page-aqq__cabecalho--acoes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.gwf-page-aqq__cabecalho--botao-primario {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  background-color: #3498db;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}
.gwf-page-aqq__cabecalho--botao-primario:hover {
  text-decoration: none;
}
.gwf-page-aqq__cabecalho--botao-primario:hover {
  background-color: #3aa8f1;
}
.gwf-page-aqq__cabecalho--botao-secundario {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  background-color: #3498db;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}
.gwf-page-aqq__cabecalho--botao-secundario:hover {
  text-decoration: none;
}
.gwf-page-aqq__cabecalho--botao-secundario:hover {
  background-color: #3aa8f1;
}
@media (min-width: 992px) {
  .gwf-page-aqq__beneficios--layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
}
.gwf-page-aqq__beneficios--item {
  padding: 30px;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 5px;
}
.gwf-page-aqq__beneficios--item:hover {
  border-color: #e67e22;
}
.gwf-page-aqq__beneficios--item-icone {
  font-size: 32px;
  color: #e67e22;
  margin-bottom: 10px;
}
.gwf-page-aqq__beneficios--item-titulo {
  color: #3498db;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.gwf-page-aqq__produtos--layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.gwf-page-aqq__produtos--card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: left;
  transition: transform 0.3s ease;
}
.gwf-page-aqq__produtos--card:hover {
  transform: translateY(-5px);
}
.gwf-page-aqq__produtos--card-imagem {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.gwf-page-aqq__produtos--card-nome {
  padding: 15px;
  font-size: 18px;
  color: #3498db;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}
.gwf-page-aqq__produtos--card-descricao {
  min-height: 100px;
  padding: 0 15px 15px;
  font-size: 16px;
}
.gwf-page-aqq__produtos--link-acao {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  border-radius: 0 0 8px 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  font-size: 30px;
}
.gwf-page-aqq__produtos--link-acao:hover {
  text-decoration: none;
}
@media (min-width: 992px) {
  .gwf-page-aqq__produtos--link-acao {
    font-size: 20px;
  }
}
.gwf-page-aqq__depoimentos--layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  .gwf-page-aqq__depoimentos--layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.gwf-page-aqq__depoimentos--card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.gwf-page-aqq__depoimentos--card-citacao {
  font-style: italic;
  margin-bottom: 15px;
  font-size: 20px;
}
@media (min-width: 992px) {
  .gwf-page-aqq__depoimentos--card-citacao {
    font-size: 16px;
  }
}
.gwf-page-aqq__depoimentos--card-autor {
  font-weight: 600;
  color: #3498db;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 32px;
}
@media (min-width: 992px) {
  .gwf-page-aqq__depoimentos--card-autor {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .gwf-page-aqq__depoimentos--card-profissao {
    font-size: 14px;
  }
}
.gwf-page-aqq__contato--layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  .gwf-page-aqq__contato--layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
    text-align: left;
  }
}
.gwf-page-aqq__contato--bloco-info {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.3s ease;
  padding: 30px;
  border-left: 5px solid #3498db;
}
.gwf-page-aqq__contato--bloco-info:hover {
  transform: translateY(-5px);
}
.gwf-page-aqq__contato--info-titulo {
  color: #3498db;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .gwf-page-aqq__contato--info-titulo {
    font-size: 24px;
  }
}
.gwf-page-aqq__contato--localizacao {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gwf-page-aqq__contato--localizacao-item {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-shadow: none;
  background-color: #e67e22;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}
.gwf-page-aqq__contato--localizacao-item:hover {
  text-decoration: none;
}
@media (min-width: 992px) {
  .gwf-page-aqq__contato--localizacao-item {
    font-size: 18px;
  }
}
.gwf-page-aqq__contato--mapa-placeholder {
  height: 280px;
  border-radius: 12px;
  overflow: hidden;
  padding-top: 60px;
}

.descricao {
  font-size: 26px;
}
@media (min-width: 992px) {
  .descricao {
    font-size: 18px;
  }
}

/*# sourceMappingURL=gwf-main.css.map */
