@use '../config';
@forward '../base';

* {
	padding: 0px;
	margin: 0px;
}

.gwf-page-aqq {
	&__wrapper {
		font-family: "Poppins";
		display: flex;
		justify-content: center;
		padding: 20px;
		background-color: config.$neutral-color-light;
	}

	&__holder {
		width: 90%;
		max-width: 1200px;
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 120px;
		padding: 25px 20px;
	}

	&__titulo {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 15px;
		text-align: center;
		color: config.$secondary-color;
	}

	&__cabecalho {

		&--fundo {
			background-color: config.$primary-color;
			color: config.$neutral-color-lightest;
			padding: 5px;
		}

		&--conteudo {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		&--titulo {
			font-size: 45px;
			font-weight: 700;
			margin-bottom: 15px;
			text-align: center;
			color: config.$neutral-color-lightest;
		}

		&--subtitulo {
			font-size: 20px;
			margin-bottom: 30px;
			text-align: center;
		}

		&--acoes {
			margin-top: 20px;
			display: flex;
			justify-content: center;
			gap: 80px;
		}

		&--botao-primario {
			@include config.reset-link;
			background-color: config.$secondary-color;
			color: config.$neutral-color-lightest;
			padding: 15px;
			border-radius: 5px;
			font-size: 20px;

			&:hover {
				background-color: #3aa8f1;
			}
		}

		&--botao-secundario {
			@include config.reset-link;
			background-color: config.$secondary-color;
			color: config.$neutral-color-lightest;
			padding: 15px;
			border-radius: 5px;
			font-size: 20px;

			&:hover {
				background-color: #3aa8f1;
			}
		}
	}

	&__beneficios {

		&--layout {

			@include config.breakpoint('large-up') {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
				gap: 30px;
			}
		}

		&--item {
			padding: 30px;
			border: 1px solid config.$neutral-color-light;
			border-radius: 8px;
			transition: border-color 0.3s ease;
			text-align: center;
			background-color: config.$neutral-color-lightest;
			box-shadow: config.$default-shadow;
			margin-bottom: 5px;

			&:hover {
				border-color: config.$primary-color;
			}

			&-icone {
				font-size: 32px;
				color: config.$primary-color;
				margin-bottom: 10px;
			}

			&-titulo {
				color: config.$secondary-color;
				font-size: 20px;
				margin-top: 15px;
				margin-bottom: 10px;
			}
		}
	}

	&__produtos {

		&--layout {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 30px;
		}

		&--card {
			background-color: config.$neutral-color-lightest;
			border-radius: 8px;
			overflow: hidden;
			box-shadow: config.$default-shadow;
			text-align: left;
			transition: transform 0.3s ease;

			&:hover {
				transform: translateY(-5px);
			}

			&-imagem {
				width: 100%;
				height: 200px;
				object-fit: contain;
			}

			&-nome {
				padding: 15px;
				font-size: 18px;
				color: config.$secondary-color;
				text-align: left;
				margin-top: 0;
				margin-bottom: 5px;
			}

			&-descricao {
				min-height: 100px;
				padding: 0 15px 15px;
				font-size: 16px;
			}
		}

		&--link-acao {
			@include config.reset-link;
			width: 100%;
			padding: 10px;
			background-color: config.$secondary-color;
			color: config.$neutral-color-lightest;
			text-align: center;
			border-radius: 0 0 8px 8px;
			font-weight: 600;
			transition: background-color 0.3s ease;
			font-size: 30px;

			@include config.breakpoint('large-up') {
				font-size: 20px;
			}
		}
	}

	&__depoimentos {

		&--layout {
			display: flex;
			flex-direction: column;
			gap: 10px;


			@include config.breakpoint('large-up') {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 30px;
			}
		}

		&--card {
			background-color: config.$neutral-color-lightest;
			padding: 30px;
			border-radius: 8px;
			box-shadow: config.$default-shadow;
			text-align: center;

			&-citacao {
				font-style: italic;
				margin-bottom: 15px;
				font-size: 20px;

				@include config.breakpoint('large-up') {
					font-size: 16px;
				}
			}

			&-autor {
				font-weight: 600;
				color: config.$secondary-color;
				margin-top: 0;
				margin-bottom: 5px;
				font-size: 32px;

				@include config.breakpoint('large-up') {
					font-size: 15px;
				}
			}

			&-profissao {
				@include config.breakpoint('large-up') {
					font-size: 14px;
				}
			}
		}
	}

	&__contato {

		&--layout {

			display: flex;
			flex-direction: column;
			gap: 10px;

			@include config.breakpoint('large-up') {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: 30px;
				margin-top: 40px;
				text-align: left;
			}
		}

		&--bloco-info {
			background-color: config.$neutral-color-lightest;
			border-radius: 8px;
			box-shadow: config.$default-shadow;
			transition: transform 0.3s ease;
			padding: 30px;
			border-left: 5px solid config.$secondary-color;

			&:hover {
				transform: translateY(-5px);
			}
		}

		&--info-titulo {
			color: config.$secondary-color;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 10px;

			@include config.breakpoint('large-up') {
				font-size: 24px;
			}
		}

		&--localizacao {
			padding-top: 10px;
			display: flex;
			justify-content: center;
			gap: 20px;

			&-item {
				@include config.reset-link;
				background-color: config.$primary-color;
				color: config.$neutral-color-lightest;
				padding: 10px;
				border-radius: 10px;
				font-size: 24px;

				@include config.breakpoint('large-up') {
					font-size: 18px;
				}
			}
		}

		&--mapa-placeholder {
			height: 280px;
			border-radius: 12px;
			overflow: hidden;
			padding-top: 60px;

		}
	}


}

.descricao {
	font-size: 26px;

	@include config.breakpoint('large-up') {
		font-size: 18px;
	}
}