@use '../config';
// @use 'propvw';

// -------------------------------------
// ÍCONES ESTÁTICOS
// -------------------------------------
// .sy-icon--spin {
//   @include config.spin-infinity;
// }


// .sy-icon--cancel-svg {
//   display: block;
//   @include propvw.style(width, 32);
//   @include propvw.style(height, 32);
//   @include propvw.multicolor-icon($svg-string: config.$cancel-icon);
// }

// .sy-icon--check-svg {
//   display: block;
//   @include propvw.style(width, 32);
//   @include propvw.style(height, 32);
//   @include propvw.multicolor-icon($svg-string: config.$check-icon);
// }

// .sy-icon--cesta-sucesso {
//   display: block;
//   @include propvw.multicolor-icon(config.$cesta-sucesso);
// }

// .sy-icon--cesta-erro {
//   display: block;
//   @include propvw.multicolor-icon(config.$cesta-erro);
// }

// .sy-icon--email-sucesso {
//   display: block;
//   @include propvw.multicolor-icon(config.$email-sucesso);
// }

// .sy-icon--email-erro {
//   display: block;
//   @include propvw.multicolor-icon(config.$email-erro);
// }


// -------------------------------------
// ÍCONES BASE64
// -------------------------------------

// -------------------------------------
// ÍCONES DE FONTE
// -------------------------------------
.gwf-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'growify-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gwf-icon--uber:before {
  content: "\e916";
}
.gwf-icon--facebook-f:before {
  content: "\e90c";
}
.gwf-icon--instagram:before {
  content: "\e90d";
}
.gwf-icon--linkedin-in:before {
  content: "\e90e";
}
.gwf-icon--pinterest:before {
  content: "\e90f";
}
.gwf-icon--tiktok:before {
  content: "\e910";
}
.gwf-icon--x-twitter:before {
  content: "\e911";
}
.gwf-icon--youtube:before {
  content: "\e912";
}
.gwf-icon--boleto:before {
  content: "\e900";
}
.gwf-icon--cc-amex:before {
  content: "\e901";
}
.gwf-icon--cc-diners-club:before {
  content: "\e902";
}
.gwf-icon--cc-mastercard:before {
  content: "\e903";
}
.gwf-icon--cc-visa:before {
  content: "\e904";
}
.gwf-icon--clearsale:before {
  content: "\e905";
}
.gwf-icon--elo:before {
  content: "\e906";
}
.gwf-icon--google-safe-browsing:before {
  content: "\e907";
}
.gwf-icon--mercadopago:before {
  content: "\e908";
}
.gwf-icon--pagseguro:before {
  content: "\e909";
}
.gwf-icon--pix:before {
  content: "\e90a";
}
.gwf-icon--tray:before {
  content: "\e90b";
}
.gwf-icon--percent:before {
  content: "\e913";
}
.gwf-icon--headset_mic:before {
  content: "\e914";
}
.gwf-icon--shop:before {
  content: "\e917";
}
.gwf-icon--truck:before {
  content: "\e915";
}
.gwf-icon--transport:before {
  content: "\e915";
}
.gwf-icon--transaction:before {
  content: "\e915";
}
.gwf-icon--shipping:before {
  content: "\e915";
}
.gwf-icon--plus:before {
  content: "\f067";
}
.gwf-icon--minus:before {
  content: "\f068";
}
.gwf-icon--search:before {
  content: "\f002";
}
.gwf-icon--heart:before {
  content: "\f004";
}
.gwf-icon--close:before {
  content: "\f00d";
}
.gwf-icon--remove:before {
  content: "\f00d";
}
.gwf-icon--times:before {
  content: "\f00d";
}
.gwf-icon--file-o:before {
  content: "\f016";
}
.gwf-icon--headphones:before {
  content: "\f025";
}
.gwf-icon--video-camera:before {
  content: "\f03d";
}
.gwf-icon--map-marker:before {
  content: "\f041";
}
.gwf-icon--arrow-left:before {
  content: "\f060";
}
.gwf-icon--arrow-right:before {
  content: "\f061";
}
.gwf-icon--arrow-up:before {
  content: "\f062";
}
.gwf-icon--arrow-down:before {
  content: "\f063";
}
.gwf-icon--chevron-down:before {
  content: "\f078";
}
.gwf-icon--shopping-cart:before {
  content: "\f07a";
}
.gwf-icon--sign-out:before {
  content: "\f08b";
}
.gwf-icon--sign-in:before {
  content: "\f090";
}
.gwf-icon--phone:before {
  content: "\f095";
}
.gwf-icon--square-o:before {
  content: "\f096";
}
.gwf-icon--filter:before {
  content: "\f0b0";
}
.gwf-icon--mobile:before {
  content: "\f10b";
}
.gwf-icon--mobile-phone:before {
  content: "\f10b";
}
.gwf-icon--shield:before {
  content: "\f132";
}
.gwf-icon--check-square:before {
  content: "\f14a";
}
.gwf-icon--sort-amount-asc:before {
  content: "\f160";
}
.gwf-icon--archive:before {
  content: "\f187";
}
.gwf-icon--google:before {
  content: "\f1a0";
}
.gwf-icon--sliders:before {
  content: "\f1de";
}
.gwf-icon--trash:before {
  content: "\f1f8";
}
.gwf-icon--whatsapp:before {
  content: "\f232";
}
.gwf-icon--volume-control-phone:before {
  content: "\f2a0";
}
.gwf-icon--envelope-open:before {
  content: "\f2b6";
}
.gwf-icon--envelope-open-o:before {
  content: "\f2b7";
}
.gwf-icon--google-drive:before {
  content: "\ea8f";
}
.gwf-icon--spotify:before {
  content: "\ea94";
}
.gwf-icon--telegram:before {
  content: "\ea95";
}
.gwf-icon--vine:before {
  content: "\ea97";
}
